extends layout

block content
  table
    thead
      th Name
      th Quantity
      th Image
    each book in books
      tr
        td #{book.name} 
        td #{book.quantity}
        td 
          <img src='#{book.imageUrl}'>
